In [10]:
import pandas as pd
import seaborn as sb
import scipy as sp
import json

VELA_mfp_distance = 118000000; #meters #probably wrong

In [15]:
#read xray attenuation constants, create equations
with open('z.json', 'r') as JSON:
        json_dict = json.load(JSON);

#https://physics.nist.gov/PhysRefData/XrayMassCoef/ElemTab/z07.html
#energy, mass attenuation coefficient, μ/ρ, and the mass energy-absorption coefficient, μen/ρ
# E 	      	μ/ρ 	      	μ_{en}/ρ 
# (MeV)	(cm2/g) 	(cm2/g)
df = pd.DataFrame(data = json_dict);
print(df.head(5))

#df=pd.DataFrame([(j,z,h) for i in json_dict.values() for j in json_dict.keys() for h,z in i.items()],columns=['E','mu_rho','mu_en_rho']);

                                                  22  \
0  [[1.00000E-03, 5.869E+03, 5.860E+03], [1.50000...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                                  27  \
0                                                NaN
1  [[1.00000E-03, 9.796E+03, 9.750E+03], [1.50000...
2                                                NaN
3                                                NaN
4                                                NaN

                                                  40  \
0                                                NaN
1                                                NaN
2  [[1.00000E-03, 4.210E+03, 4.203E+03], [1.50000...
3                                                NaN
4                                                NaN

                                                  42  \
0                                                NaN
1                                                NaN
2                                                NaN
3  [[1.00000E-03, 4.942E+03, 4.935E+03], [1.50000...
4                                                NaN

                                                  41   24   48   50   82   74  \
0                                                NaN  NaN  NaN  NaN  NaN  NaN
1                                                NaN  NaN  NaN  NaN  NaN  NaN
2                                                NaN  NaN  NaN  NaN  NaN  NaN
3                                                NaN  NaN  NaN  NaN  NaN  NaN
4  [[1.00000E-03, 4.600E+03, 4.592E+03], [1.50000...  NaN  NaN  NaN  NaN  NaN

    26   23   28   29   30   25
0  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN

In [7]:
#read VELA sensor data
#6909: FR
#6911: Event 747
colnames = ['n','val'];
df_6909_YCA = pd.read_csv('6909_YCA_raw', names=colnames, delimiter='\t');
df_6909_YVA = pd.read_csv('6909_YVA_raw', names=colnames, delimiter='\t');
df_6911_YCA = pd.read_csv('6911_YCA_raw', names=colnames, delimiter='\t');
df_6911_YVA = pd.read_csv('6911_YVA_raw', names=colnames, delimiter='\t');

In [9]:

print(df_attenuation_constants.head(5));

                                                  22  \
0  [[1.00000E-03, 5.869E+03, 5.860E+03], [1.50000...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                                  27  \
0                                                NaN
1  [[1.00000E-03, 9.796E+03, 9.750E+03], [1.50000...
2                                                NaN
3                                                NaN
4                                                NaN

                                                  40  \
0                                                NaN
1                                                NaN
2  [[1.00000E-03, 4.210E+03, 4.203E+03], [1.50000...
3                                                NaN
4                                                NaN

                                                  42  \
0                                                NaN
1                                                NaN
2                                                NaN
3  [[1.00000E-03, 4.942E+03, 4.935E+03], [1.50000...
4                                                NaN

                                                  41   24   48   50   82   74  \
0                                                NaN  NaN  NaN  NaN  NaN  NaN
1                                                NaN  NaN  NaN  NaN  NaN  NaN
2                                                NaN  NaN  NaN  NaN  NaN  NaN
3                                                NaN  NaN  NaN  NaN  NaN  NaN
4  [[1.00000E-03, 4.600E+03, 4.592E+03], [1.50000...  NaN  NaN  NaN  NaN  NaN

    26   23   28   29   30   25
0  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN